<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sist.mapper.AccountMapper">
	<select id="findByUserName" parameterType="String" resultType="UserDTO">
	Select * from account where username=#{username}
	
	</select>
	
	<insert id="save" parameterType="UserDTO">
	Insert into account (role,username,password)
	values(#{role},#{username},#{password})
	</insert>
	<select id="findFirst" resultType="UserDTO">
	select * from account WHERE rownum=1 order by id DESC 
	</select>
 </mapper>